p {
    padding-top: 10px;
    font-size: 1.4rem;
    text-align: center;
}

h2 {
    text-align: center;
}

table {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding-top: 10px;
}

td {
    text-align: center;
}