body {
    margin: 0;
    padding: 0;
}

h1{
    margin-top: 75px;
    text-align: center;
    color: #2F2F2F;
}

.main_div {
    margin: 0;
    margin: auto;
    width: 90%;
    height: auto;
    max-width: 500px;
    max-height: 1000px;
    background-color: #FFFBFA;
    padding-left: 10px;
    padding-right: 10px;
}

.payment_step {
    display: block;
    width: 100%;
    margin: auto;
}

.main_div > div {
    text-align: center;
}

#id_username {
    margin-top: 20px;
}

input, select, button {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    margin-bottom: 15px;
}

.payment {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.secondary {
    color: #34C4AB;
    border: 2px solid #34C4AB;
    font-weight: bolder;
    cursor: pointer;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}


.primary {
    color: #FFFBFA;
    border: 2px solid #34C4AB;
    font-weight: bolder;
    background-color: #34C4AB;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.primary:hover {
    background-color: #2ca591;
    border-color: #2ca591;
}

label{
    display: none;
}

.cancel {
    width: 100%;
}