* {
    margin: 0;
}

.main_div {
    width: 100%;
    height: 100vh;
    max-width: 800px;
    max-height: 1000px;
    background-color: #D8D4F2;
}

.main_div > div {
    text-align: center;
}

#id_username {
    background-color: aqua;
}