.container {
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    max-width: 900px;
    margin: auto;
    margin-top: 40px;
    justify-content:center;
}

.gallery img {
    width: 200px;
    margin: 10px 10px;
}