@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    overflow-x: hidden;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.navbar {
    background-color: #34C4AB;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.first {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}

.options {
    position: fixed;
    margin-top: 59px;
}

.session {
    position: fixed;
    margin-top: 274px;
}

/*Apply for the UH on the navbar for mobile view*/
.navbar.first a {
    font-size: 2rem;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
}


.first a .burger__line {
    width: 35px;
    height: 4px;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: #FFFBFA;
}

/*Apply for the UH on the navbar in general (bigger than mobile view)*/
.item a.logo {
    display: none;
}

.navbar a {
    text-align: center;
    font-size: 1.2rem;
    color: #FFFBFA;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    text-decoration: none;
}

@keyframes deactive {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

.slide {
    animation: deactive 1s;
    transform: translateX(100%);
}

@keyframes active {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

.active {
    animation: active 1s;
    transform: translateX(0%);
}

@keyframes navbar_hover {
    from {
        background-color: #34C4AB;
        color: #FFFBFA;
    }

    to {
        background-color: #FFFBFA;
        color: #34C4AB;
    }
}

.active a:hover {
    animation: navbar_hover 0.5s;
    background-color: #FFFBFA;
    color: #34C4AB;
}

@media only screen and (min-width: 800px) {
    .first {
        display: none;
    }

    .item a.logo {
        display: block;
        letter-spacing: -7px;
        padding-right: 7px;
        font-size: 2rem;
    }

    .navbar__father {
        display: flex;
        position: fixed;
        width: 100%;
    }

    .options {
        display: flex;
        align-items: center;
        position: relative;
        width: 70%;
        margin-top: 0;
        justify-content: space-around;
    }

    .session {
        margin-top: 0;
        padding-left: 60px;
        display: flex;
        align-items: center;
        position: relative;
        width: 30%;
        justify-content: space-around;
    }

    .slide {
        animation: initial;
        transform: translateX(0%);
    }
}