@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

@keyframes delete_message {
    from {
        opacity: 100;
    }

    to {
        opacity: 0;
    }
}

.messages {
    z-index: 10;
    position: fixed;
    top: 59px;
    width: 100%;
    height: auto;
    color: #FFFBFA;
}

.messages li {
    width: 100%;
    height: 40px;
    text-align: center;
    animation: delete_message 15s;
    opacity: 0;
}

.messages li p{
    font-size: 1.5rem;
    color: #2F2F2F;
}

.messages li.error p{
    font-size: 1.5rem;
    color: #FFFBFA;
}

.test {
    opacity: 1;
}

.success {
    background-color: #D2F898;
}

.info {
    background-color: #D2F898;
}

.error {
    background-color: #EF6461;
}

.navbar {
    z-index: 10;
    background-color: #34C4AB;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.first {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}

.options {
    position: fixed;
    margin-top: 59px;
}

.session {
    position: fixed;
    margin-top: 274px;
}

/*Apply for the UH on the navbar for mobile view*/
.navbar.first a {
    font-size: 2rem;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
}


.first a .burger__line {
    width: 35px;
    height: 4px;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: #FFFBFA;
}

/*Apply for the UH on the navbar in general (bigger than mobile view)*/
.item a.logo {
    display: none;
}

.navbar a {
    text-align: center;
    font-size: 1.2rem;
    color: #FFFBFA;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    text-decoration: none;
}

@keyframes deactive {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

.slide {
    animation: deactive 1s;
    transform: translateX(100%);
}

@keyframes active {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

.active {
    animation: active 1s;
    transform: translateX(0%);
}

@keyframes navbar_hover {
    from {
        background-color: #34C4AB;
        color: #FFFBFA;
    }

    to {
        background-color: #FFFBFA;
        color: #34C4AB;
    }
}

.active a:hover {
    animation: navbar_hover 0.5s;
    background-color: #FFFBFA;
    color: #34C4AB;
}

.cart_setting_father {
    position: fixed;
    height: 60px;
    width: 60px;
    bottom: 15px;
    right: 20px;
    z-index: 25;
    background-color: #34c4ac70;
    border-radius: 10px;
}

.cart_setting_father a {
    text-decoration: none;
    color:#2F2F2F;
}

#cart_setting {
    position: absolute;
    left: 20%;
    top: 20%;
    font-size: 2rem;
}

@media only screen and (min-width: 800px) {
    .first {
        display: none;
    }

    .item a.logo {
        display: block;
        letter-spacing: -7px;
        padding-right: 7px;
        font-size: 2rem;
    }

    .navbar__father {
        z-index: 10;
        display: flex;
        position: fixed;
        justify-content: space-around;
        width: 100%;
        background-color: #34C4AB;
    }

    .options {
        display: flex;
        align-items: center;
        position: relative;
        width: 70%;
        max-width: 800px;
        margin-top: 0;
        justify-content: space-around;
    }

    .session {
        margin-top: 0;
        padding-left: 60px;
        display: flex;
        align-items: center;
        position: relative;
        width: 30%;
        max-width: 300px;
        justify-content: space-around;
    }

    .slide {
        animation: initial;
        transform: translateX(0%);
    }

    .navbar li {
        width: 108px;
        height: 100%;
    }

    .navbar.session li{
        width: 120px;
        height: 100%;
    }

    .center__div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .navbar li a{
        width: 100%;
    }

    .navbar li .center__div:hover{
        animation: navbar_hover 0.5s;
        background-color: #FFFBFA;
        color: #34C4AB;
    }

    .navbar li .center__div:hover a{
        animation: navbar_hover 0.5s;
        background-color: #FFFBFA;
        color: #34C4AB;
    }

    .cart_setting_father {
        top: 80px;
    }
}