{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}UrbanoHome{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'store/favicon/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'store/styles/header.css' %}">
    <script src="{% static 'store/scripts/navbar.js' %}"></script>
    <script src="https://kit.fontawesome.com/bace6cc7e8.js" crossorigin="anonymous"></script>
    {% block my_css %}{% endblock %}
</head>

<header>
    <ul class="navbar first">
        <li>
            <a href="{%url 'home'%}">UH</a>
        </li>
        <li>
            <a href="#" onclick="active_navbar()">
                <div class="burger__line"></div>
                <div class="burger__line"></div>
                <div class="burger__line"></div>
            </a>
        </li>
    </ul>
    <div class="navbar__father">

        <ul class="navbar options slide" id="navbar">
            <li class="item">
                <div class="center__div">
                    <a href="{% url 'home' %}" class="logo">UH</a>
                </div>
            </li>
            <li class="item">
                <div class="center__div">
                    <a href="{% url 'home' %}">Home</a>
                </div>
            </li>
            <li class="item">
                <div class="center__div">
                    <a href="{% url 'items' %}">Tienda</a>
                </div>
            </li>
            <li class="item">
                <div class="center__div">
                    <a href="{% url 'gallery' %}">Galería</a>
                </div>
            </li>
            <li class="item">
                <div class="center__div">
                    <a href="#">Consejos</a>
                </div>
            </li>
            <li class="item">
                <div class="center__div">
                    <a href="#">Contacto</a>
                </div>
            </li>
        </ul>
        <ul class="navbar session slide" id="navbar_session">
            <li>
                <div class="center__div">
                    {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}">{{user.username}}</a>
                    {% else %}
                    <a href="{% url 'login' %}">Iniciar sesión</a>
                    {% endif %}
                </div>
            </li>
            <li>
                <div class="center__div">
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Salir</a>
                    {% else %}
                    <a href="{% url 'register' %}">Regístrate</a>
                    {% endif %}
                </div>
            </li>
        </ul>

    </div>
</header>

<body>
    {% if user.is_authenticated %}
    <div class="cart_setting_father">
        <a href="{% url 'card_index' %}"><i class="fas fa-cart-arrow-down" id="cart_setting"></i></a>
    </div>
    {% endif %}

    <ul class="messages" id="messages">
        {% if messages %}
        {% for message in messages %}
        <li class="{{ message.tags }}"><p>{{message}}</p></li>
        {% endfor %}
        {% endif %}
    </ul>

    {% block my_body %}{% endblock %}
    {% block my_scripts %}{% endblock %}
</body>

</html>