{% extends 'store/base.html' %}

{% load static %}
{% load humanize %}
{% load tags %}

{% block title %}
Carrito
{% endblock %}

{% block my_css %}
<link rel="stylesheet" href="{% static 'store/styles/item.css' %}">
<link rel="stylesheet" href="{% static 'store/styles/form.css' %}">
<link rel="stylesheet" href="{% static 'store/styles/modal.css' %}">
{% endblock %}

{% block my_body %}

<h1>¡Tu carrito de compra!</h1>

<div class="products">
{% for my_card in my_cards %}
<div class="product">
    <h2>{{my_products|find_id:my_card.productoId.id}}</h2>
    <div class="container">
      <img src="{{my_products|find_id:my_card.productoId.id|image}}" alt="Imagen de un producto">
    </div>
    <h3>COP ${{my_products|find_id:my_card.productoId.id|precio_venta|floatformat|intcomma}}</h3>
    {% if user.is_authenticated %}
    <br>
    <h3>Cantidad:</h3>
    <div class="counter">
      <button type="button" id="minus" class="minus symbol" onclick="minus_counter({{ forloop.counter }})"><p>-</p></button>
      <input type="number" name="cantidad" id="quantity{{ forloop.counter }}" class="quantity quantity{{ forloop.counter }}" value="{{my_card.cantidad}}" max="20" min="0" readonly>
      <button type="button" id="plus" class="plus symbol" onclick="plus_counter({{ forloop.counter }})"><p>+</p></button>
    </div>
    <button class="save_cart primary" id="save_cart{{ forloop.counter }}" disabled><p>Guardado</p></button>
    <!--<button class="primary" id="carritoButton{{ forloop.counter }}" style="width: 70%;"> Añadir <i class="fas fa-shopping-cart"></i></button>-->
    {% else %}
    <a href="{% url 'register' %}"><button class="primary" style="width: 70%;"> Añadir <i class="fas fa-shopping-cart"></i></button></a>
    {% endif %}
  </div>
{% endfor %}
</div>
{% endblock %}

{% block my_scripts %}
<script src="{% static 'store/scripts/counter.js'  %}"></script>
{% endblock %}