{% extends 'store/base.html'  %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load tags %}

{% block title %}
    Checkout
{% endblock %}

{% block my_css %}
<link rel="stylesheet" href="{% static 'store/styles/item.css' %}">
<link rel="stylesheet" href="{% static 'store/styles/checkout.css' %}">
<link rel="stylesheet" href="{% static 'store/styles/form.css' %}">
{% endblock %}

{% block my_body %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
  <h1>Resumen del pedido</h1>
  <p>Nombre del cliente: {{ user.first_name }}, {{ user.last_name }} <br>
  Nombre del vendedor: UrbanoHome <br>
  Fecha: {% language 'es' %}{% now "d F Y H:i" %}{% endlanguage %}</p>
  <br>
  <h2>Artículos</h2>
  <table>
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Valor Unitario</th>
      <th>Valor total</th>
    </tr>
  {% for product in products %}
  <tr>
    <td>{{product.productoId}}</td>
    <td>{{product.cantidad}}</td>
    <td>{{product.precio_unidad|floatformat|intcomma}}</td>
    <td>{{product|calcular_total|floatformat|intcomma}}</td>  
  </tr>
  {% endfor %}
  </table>

  <p><strong>TOTAL: {{products|calcular_suma|floatformat|intcomma}}</strong></p>

    <div class="main_div">
      <form action="https://sandbox.checkout.payulatam.com/ppp-web-gateway-payu/" method="post">
        <h1>Información Requerida:</h1>
        {%csrf_token%}
        <input name="merchantId"      type="hidden"  value="972601"   >
  <input name="accountId"       type="hidden"  value="980489" >
  <input name="description"     type="hidden"  value="¡Gracias por comprar  en urbanoHome!"  >
  <input name="referenceCode"   type="hidden"  value="{{reference}}" >
  <input name="amount"          type="hidden"  value="{{products|calcular_suma}}"   >
  <input name="tax"             type="hidden"  value="0"  >
  <input name="taxReturnBase"   type="hidden"  value="0" >
  <input name="currency"        type="hidden"  value="COP" >
  <input name="signature"       type="hidden"  value="{{reference_hash}}"  >
  <input name="test"            type="hidden"  value="0" >
  <input name="buyerEmail"                     value="test@test.com" >
  <input name="responseUrl"     type="hidden"  value="http://www.test.com/response" >
  <input name="confirmationUrl" type="hidden"  value="http://www.test.com/confirmation" >
  <input name="shippingAddress"  placeholder="calle 93 n 47 - 65"   >
  <input name="shippingCity" placeholder="Bogotá" >
  <input name="shippingCountry" placeholder="Colombia"  >
  <input name="Submit"          type="submit"  value="Enviar" >      
        <button class="primary">Pagar</button>
      </form>
      <form action="{% url 'items' %}">
        <button class="secondary">Volver a la tienda</button>
      </form>
    </div>
{% endblock %}