{% extends 'store/base.html' %}
{% load static %}

{% block title %}
Contacto
{% endblock %}

{% block my_css %}
<link rel="stylesheet" href="{% static 'store/styles/home.css' %}">
<link rel="stylesheet" href="{% static 'store/styles/form.css' %}">
<link rel="stylesheet" href="{% static 'store/styles/blog.css' %}">
{% endblock %}

{% block my_body %}
<div class="container" id="container">
    <h1>¡Contáctanos!</h1>
    <a href="https://www.facebook.com/UrbanoHomeTm/">
        <i class="fa-brands fa-facebook-square"></i>
    </a>
    <a href="https://www.instagram.com/urbanohome03/">
        <i class="fa-brands fa-instagram"></i>
    </a>
</div>
{% endblock %}