{% extends 'store/base.html'  %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load tags %}

{% block title %}
    Checkout
{% endblock %}

{% block my_css %}
<link rel="stylesheet" href="{% static 'store/styles/item.css' %}">
<link rel="stylesheet" href="{% static 'store/styles/checkout.css' %}">
<link rel="stylesheet" href="{% static 'store/styles/form.css' %}">
{% endblock %}

{% block my_body %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
    <h1>Finalizar pago</h1>
    <div class="main_div">
        <form action="" method="post">
            <button class="primary">Pagar</button>
        </form>
        <form action="{% url 'cancelpurchase' %}" method="post">
          {%csrf_token%}
          <button class="secondary">No pagar</button>
        </form>
    </div>
{% endblock %}