{% extends 'store/base.html' %}
{% load static %}

{% block title %}
Galería
{% endblock %}

{% block my_css %}
<link rel="stylesheet" href="{% static 'store/styles/home.css' %}">
<link rel="stylesheet" href="{% static 'store/styles/form.css' %}">
<link rel="stylesheet" href="{% static 'store/styles/gallery.css' %}">
{% endblock %}

{% block my_body %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li class="{{ message.tags }}">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
<div class="container" id="container">
    <h1>¡Nuestra galería!</h1>
    <div class="gallery">
        {% for image in gallery %}
        <img src="{{image.imagen.url}}" alt="Imagen que forma parte de la galería" id="{{image.id}}" onclick="biggerImage({{image.id}})">
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block my_scripts %}
<script type="text/javascript">
    function biggerImage(myId){
        myPicture = document.getElementById(myId);
        myPicture.classList.toggle("bigger");
        document.getElementById("container").classList.toggle("dark");
    }
</script>
{% endblock %}