{% extends 'store/base.html' %}
{% load static %}

{% block title %}
Galería
{% endblock %}

{% block my_css %}
<link rel="stylesheet" href="{% static 'store/styles/home.css' %}">
<link rel="stylesheet" href="{% static 'store/styles/form.css' %}">
<link rel="stylesheet" href="{% static 'store/styles/gallery.css' %}">
{% endblock %}

{% block my_body %}
<div class="container" id="container">
    <h1>¡Nuestra galería!</h1>
    <div class="gallery">
        {% for image in images %}
            {% with 'store/images/img'|add:image|add:'.jpeg' as image_static%}
                <img src="{% static  image_static %}" alt="">
            {% endwith %}
        {% endfor %}
    </div>
</div>
{% endblock %}