{% extends 'store/base.html' %}
{% load static %}

{% block title %}
Inicio
{% endblock %}

{% block my_css %}
<link rel="stylesheet" href="{% static 'store/styles/home.css' %}">
<link rel="stylesheet" href="{% static 'store/styles/form.css' %}">
{% endblock %}

{% block my_body %}
<div class="landing_container">
  <img class="landing" src="{% static 'store/images/uh.png' %}" alt="Logo de urbanohome">
  <div class="landing_text">
    <p>&</p>
  </div>
  <img class="landing" src="{% static 'store/images/verdegrillo.png' %}" alt="Logo de plantas verde grillo">
</div>
  <div class="landing_container">
  <div class="landing_text">
    <p>¡Bienvenido a UrbanoHome! <br>
    Contamos con los mejores productos.</p>
    <a href="{%url 'items'%}">
      <button class="primary" style="font-size: 1.5rem; max-width: 250px;">Tienda online</button>
    </a>
  </div>
</div>
</div>
{% endblock %}