{% extends 'store/base.html' %}

{% load static %}

{% block title %}
Iniciar Sesión
{% endblock %}

{% block my_css %}
<link rel="stylesheet" href="{% static 'store/styles/form.css' %}">
{% endblock %}

{% block my_body %}
<h1>¡Regístrate!</h1>
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <div class="main_div">
        <div class="first_group">
            {{login_form.as_p}}
        </div>
        <input class="primary" type="submit" value="Ingresar">
        <a href="/">
            <input class="secondary" type="button" value="Cancelar">
        </a>
    </div>
</form>
{% endblock %}