{% extends 'store/base.html'  %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load tags %}
{% load static %}

{% block title %}
Perfil
{% endblock %}

{% block my_css %}
<link rel="stylesheet" href="{% static 'store/styles/item.css' %}">
<link rel="stylesheet" href="{% static 'store/styles/checkout.css' %}">
<link rel="stylesheet" href="{% static 'store/styles/form.css' %}">
{% endblock %}

{% block my_body %}
<h1>
    ¡Tus compras!
</h1>

{% for venta in ventas %}
<table>
    <tr>    
        <th>Rerefencia</th>
        <th>Fecha</th>
        <th>Total</th>
        <th>Estado de pago</th>
        <th>Detalle</th>
        <th>Pagar</th>
    </tr>
    <tr>
        <td>{{venta.referencia}}</td>
        <td>{{venta.fecha}}</td>
        <td>COP {{venta.total|floatformat|intcomma}} </td>
        <td>{{venta.estadoId}}</td>
        <td>
            <form action="{% url 'products' %}" method="GET">
            <input type="hidden" name="ventaId" id="ventaId" value="{{venta}}">
            <input type="hidden" name="origin" id="origin" value="0">
            <button type="submit" class="secondary">Detalle</button>
            </form>
        </td>
        {% if venta.estadoId.id == 2 %}
        <td>Botón no pagar</td>
        {% else %}
        <td>        
            <form action="{% url 'checkout' %}" method="GET">
            <input type="hidden" name="ventaId" id="ventaId" value="{{venta}}">
            <input type="hidden" name="origin" id="origin" value="0">
            <button type="submit" class="primary">Pagar</button>
            </form>
        </td>
        {% endif %}
    </tr>
</table>
{% endfor %}

{% endblock %}