<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <input type="email" name="correo">}
        <input type="password" name="password" id="">
        <input type="text" name="primer_nombre" maxlength="120">
        <input type="text" name="segundo_nombre" maxlength="120">
        <input type="text" name="primer_apellido" maxlength="120">
        <input type="text" name="segundo_apellido" maxlength="120">
        <input type="number" name="identificacion" maxlength="13">
        <input type="number" name="celular" id="" maxlength="13">
    </form>
</body>
</html>