{% extends 'store/base.html' %}

{% load static %}

    {% block title %}
    Registro
    {% endblock %}

    <title>Document</title>
    {% block my_css %}
    <link rel="stylesheet" href="{% static 'store/styles/form.css' %}">
    {% endblock %}

    {% block my_body %}
    <form action="">
        <div class="main_div">
            <div class="first_group">
                <p>Nombre completo</p>
                {{user_form.username}}
                <p>Contraseña</p>
                {{user_form.password}}
                <p>Confirmar contraseña</p>
                {{user_form.confirm_password}}
            </div>
            <div class="contact_group">
                <p>Identificación</p>
                {{cliente_form.identificacion}}
                <p>Correo</p>
                {{cliente_form.correo}}
                <p>Celular</p>
                {{cliente_form.celular}}
            </div>
        </div>
    </form>
    {% endblock %}