{% extends 'store/base.html' %}

{% load static %}
{% load humanize %}

{% block title %}
Tienda UH
{% endblock %}

{% block my_css %}
<link rel="stylesheet" href="{% static 'store/styles/item.css' %}">
<link rel="stylesheet" href="{% static 'store/styles/form.css' %}">
{% endblock %}

{% block my_body %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li class="{{ message.tags }}">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<h1>¡Nuestros productos!</h1>

<div class="products">
  {% for my_product in products %}
  <div class="product">
    <h2>{{my_product}}</h2>
    <div class="container">
      <img src="{{my_product.imagen.url}}" alt="Imagen de un producto">
      <div class="detail">
        <p> <strong> Detalles </strong></p>
      </div>
    </div>
    <h3>COP ${{my_product.precio_venta|floatformat|intcomma}}</h3>
    <button class="primary" id="modal{{ forloop.counter }}" style="width: 70%;"> Añadir <i
        class="fas fa-shopping-cart"></i></button>
  </div>
  <div class="modal_content" id="modal{{ forloop.counter }}">
    <div class="modal_header">
      <span class="close">&times;</span>
      <h2>Detalles de {{ my_product }}</h2>
    </div>
    <div class="modal_body">
      <h3>Nombre:</h3>
      <p><strong>{{ my_product }}</strong></p>
      <h3>Precio por unidad:</h3>
      <p><strong>{{ my_product.precio_venta }}</strong></p>
      <h3>Descripcion:</h3>
      <p><strong>{{ my_product.descripcion }}</strong></p>
      <button class="secondary" id="closeModal">Cerrar</button>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}