{% extends 'store/base.html' %}

{% load static %}

{% block title %}
Tienda UH
{% endblock %}

{% block my_css %}
<link rel="stylesheet" href="{% static 'store/styles/item.css' %}">
{% endblock %}

{% block my_body %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<h1>¡Regístrate!</h1>
<br><br><br><br>
This is a test

{% for my_product in products %}
<p>{{my_product}}</p>
{% endfor %}

{% endblock %}